* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 1.75;
    background-color: beige(248, 159, 136);
    color: rgb(27, 83, 102);
}

header {
    background-color: rgb(35, 47, 71);
    color: ghostwhite;
    padding: 8px 0;
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

header .logo h1 {
    font-size: 23px;
}

nov ul {
    list-style: none;
    margin-top: 8px;
}

nav ul li {

    display: inline;
    margin: 0 15px;
}

nav ul li a {

    text-decoration: none;
    color: beige;
    font-size: 15px;
    transition: color 0.3s ease;
}

.hero {
    background-image: url(imgBack.webp);
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: rgb(236, 236, 236);
    background-size: cover;
    background-position: center;
}


.hero-content h1 {
    font-size: 70px;
    margin-bottom: 22px;
}

.hero-content {
    font-size: 30px;
    margin-bottom: 30px;

}

.btn-hizmetler {
    background-color: rgb(226, 231, 226);
    color: black;
    padding: 15px 30px;
    font-size: 50px;
    text-decoration: none;
    border-radius: 10px;

}

.btn-hizmetler:hover {
    background-color: azure;
    
}

.section-title h2 {
    font-size: 28px;
    margin-bottom: 15px;
    color: darkblue;
    text-align: center;
    padding: 20px 15px;
}

section {

    padding: 20px 15px;
    text-align: center;
}

#about p {
    font-size: 18px;
    max-width: 800px;
    margin: 0 auto 20px;
}


.services-container {
    display: flex;
    justify-content: space-around;
    margin-top: 40px;


}

.service {

    background-color: ghostwhite;
    padding: 30px;
    text-align: center;
    border-radius: 15px;
    box-shadow: 0 4px 8px;
    width: 30%;
}

.service:hover {
    background-color: rgb(170, 222, 192);
}

.service h3 {
    font-size: 24px;
    margin-bottom: 30px;
}

form {
    max-width: 700px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

/* Formdaki input ve textarea öğeleri */
form input,
form textarea {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    /* Üst ve alt boşluk */
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
    /* İç boşluk ve kenarlıklar dahil genişlik hesaplaması */
}


form input:focus,
form textarea:focus {
    border-color: #4caf50;
    outline: none;
}


form button {
    width: 100%;
    padding: 12px;
    background-color: #4caf50;
    /* Yeşil renk */
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
}

form button:hover {
    background-color: #45a049;
}

footer {
    font-size: 18px;
}

#contact .section-title {
    font-size: 16px;
}
@media(max-width:800px) {
    .services-container {
        flex-direction: column;
        align-items: center;
    }

    .service {
        width: 80%; 
        margin-bottom: 20px; 
    }
}

.hero{
    position: relative;
}